<%flash.each do |type, msg|%>
    <%if type == 'alert'%>
    <div class = "<%= type%> fixed z-30 top-24">
        <%msg.each do |message|%>
            <div class = "bg-red-300 text-red-800 p-2 my-1 text-lg shadow transition duration-300 ease-in-out flex items-stretch justify-between">
                <p><%= message%></p>
            </div>
        <%end%>
    </div>
    <%elsif type == 'notice'%>
        <div class = "<%= type%> fixed z-30 top-24 bg-green-300 text-green-800 p-2 shadow transition duration-300 ease-in-out w-full flex justify-center">
            <p><%= msg%></p>
        </div>
    <%end%>
<%end%>