// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.new-category-template{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
