<%flash.each do |type, msg|%>
    <%if type == 'alert'%>
        <%msg.each do |message|%>
            <div class = "absolute z-30 top-0 bg-red-400 text-red-800 p-2 shadow transition duration-300 ease-in-out flex items-stretch justify-between">
                <p><%= message%></p>
                <p class ="text-right mx-5 self-center"><%= link_to 'x', new_category_path, class: "text-red-800"%></p>
            </div>
        <%end%>
    <%end%>
<%end%>